body {
    font-size: 12px;
}

#main-wrapper > .header {
    background-color: #656F7B;
}

.navbar-collapse .nav-link > i {
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-wrapper {
    padding-left: 20px;
}

.sidebar-nav > ul > li.active > a,
.sidebar-nav > ul > li.active > a i,
.sidebar-nav ul li a.active {
    color: #D73D49;
    font-weight: bold;
}

.header .top-navbar {
    min-height: 40px;
}

    .header .top-navbar .navbar-header {
        line-height: 35px;
    }

        .header .top-navbar .navbar-header .navbar-brand b {
            line-height: 35px;
        }

    .header .top-navbar .navbar-nav > .nav-item > .nav-link {
        line-height: 30px;
    }

.sidebar-nav ul li a {
    color: #5A5A5A;
}

#sidebarnav > li > a {
    border-top: 1px solid #F0F0F0;
    font-size: 16px;
}

#sidebarnav > li.active > a {
    border-bottom: 1px solid #F0F0F0;
}

.mini-sidebar .sidebar-nav #sidebarnav > li.active a {
    border-bottom: none;
}


#sidebarnav > li > ul > li > a {
    font-size: 13px !important;
}

.alert {
    margin-bottom: 0;
}

.alert-top-button {
    color: #3B3B3B;
    background-color: #fff;
    border-color: #C3C4C5;
    font-size: 14px;
    padding: 4px 12px 4px 12px;
    font-weight: bold;
}

.navbar-collapse .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.mini-sidebar .sidebar-nav #sidebarnav > li:hover a {
    background-color: #E0E3EA;
}

.menu-noti {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    font-size: 90%;
    border-radius: 60px;
    background-color: #D4222E;
}

#sidebarnav > li > a .menu-noti {
    margin-top: 4px;
}

.form-control {
    font-size: 12px;
}

.table-common {
    width: 100%;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    background: #FFF;
    border: 1px solid #D5D5D5;
}

    .table-common > thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        background: #E9E9E9;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
        border: 1px solid #D5D5D5;
    }

        .table-common > tr, .table-common > thead > tr, .table-common > tbody > tr, .table-common > tfoot > tr {
            height: 30px;
        }

            .table-common > tr > th, .table-common > thead > tr > th, .table-common > tbody > tr > th, .table-common > tfoot > tr > th {
                border-top: 0;
                border-left: 0;
                border-right: 1px solid #D5D5D5;
                border-bottom: 1px solid #D5D5D5;
                padding: 3px 5px 3px 5px;
                background-color: #EBEBEB;
                text-align: center;
                vertical-align: middle;
            }

    .table-common th.text-left {
        text-align: left;
    }

    .table-common > tr > td, .table-common > thead > tr > td, .table-common > tbody > tr > td, .table-common > tfoot > tr > td {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
        padding: 3px 5px 3px 5px;
        vertical-align: middle;
    }


.modal-content {
    background-color: transparent;
}

.modal-dialog {
    border-radius: 5px;
}

.modal-header {
    border-bottom: 1px solid #808080;
    border-radius: 3px 3px 0 0;
    background: #84b5d9; /* Old browsers */
    background: -moz-linear-gradient(top, #84b5d9 0%, #6ca6d2 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #84b5d9 0%,#6ca6d2 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #84b5d9 0%,#6ca6d2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b5d9', endColorstr='#6ca6d2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .modal-header .close {
        font-size: 18px;
    }

.modal-body {
    background-color: #fff;
}

.modal-footer {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #808080;
    padding: 5px;
}

    .modal-footer .btn {
        margin-left: 5px;
    }

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
}

input.date {
    display: none;
}

.btn-warning, .btn-warning:hover {
    color: #fff;
}

.badge {
    font-size: 11px;
}

.badge-warning {
    background-color: #f0ad4e;
    color: #fff;
}

.select2-container {
    width: 100%;
}

.list-group-item {
    padding: 5px;
}

code, kbd, pre, samp {
    font-size: 100%;
    font-family: 'Malgun Gothic';
    margin-bottom: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.text-cancel {
    text-decoration: line-through;
    color: #f53030;
}

label {
    margin-bottom: 0;
}

.calandar {
}

    .calandar .weekday1 {
        color: red;
    }

    .calandar .weekday7 {
        color: blue;
    }

    .calandar .cal-info {
        height: 70px;
        position: relative;
    }

        .calandar .cal-info a {
            cursor: pointer;
        }

        .calandar .cal-info > .cal-day {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
        }

        .calandar .cal-info > .cal-status {
            position: absolute;
            top: 35px;
            left: 0px;
            width: 100%;
            height: 40px;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
        }

        .calandar .cal-info > .cal-time {
            position: absolute;
            top: 7px;
            left: 35px;
            width: 90px;
            height: 25px;
            text-align: left;
        }


    .calandar .holiday {
        color: red;
    }

    .calandar .action {
        color: orange;
    }

    .calandar .action-noapply {
        font-weight: bold;
        color: orangered;
    }

    .calandar .alarm {
        font-weight: bold;
        color: blue;
    }

.applyer-list > li {
    height: 30px;
}

.system-link {
    background-color: #E0E3EA;
    font-weight: bold;
}

.dropdown-menu {
    padding: 0;
}

    .dropdown-menu > li > a {
        font-size: 12px;
        padding: 3px 5px 3px 5px;
    }


    .dropdown-menu > li:hover {
        background-color: #656F7B;
    }

        .dropdown-menu > li:hover > a {
            color: white;
        }
