<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spectre Sample @ViewData["Title"]</title>

    <link href="~/lib/spectre/spectre.min.css" rel="stylesheet" />
    <link href="~/lib/spectre/spectre-exp.min.css" rel="stylesheet" />
    <link href="~/lib/spectre/spectre-icons.min.css" rel="stylesheet" />
    
    <link href="~/lib/spectre/custom.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>

    <div class="spectre-container off-canvas off-canvas-sidebar-show">
        <div class="spectre-sidebar off-canvas-sidebar" id="sidebar">
            <div class="spectre-brand">
                <a class="spectre-logo" href="../index.html">
                    <img src="/img/spectre-logo.svg" alt="Spectre.css CSS Framework">
                    <h2>SPECTRE</h2><small class="label label-secondary text-bold">DOCS</small>
                </a>
            </div>
            <div class="spectre-nav">
                @await Component.InvokeAsync("LeftMenu")
            </div>
        </div><a class="off-canvas-overlay" href="#close"></a>
        <div class="off-canvas-content">
            <div class="spectre-content" id="content">
                <div class="container" id="buttons">
                    @RenderBody()
                </div>
                <div class="spectre-footer container grid-lg" id="copyright">
                    <p><a href="https://github.com/picturepan2/spectre" target="_blank">GitHub</a> · <a href="https://twitter.com/spectrecss" target="_blank">Twitter</a> · <a href="https://www.paypal.me/picturepan2" target="_blank">PayPal Donate</a> · <a href="https://www.patreon.com/spectrecss" target="_blank">Patreon Sponsor</a> · Version <span class="version"></span></p>
                    <p>Designed and built with <span class="text-error">&hearts;</span> by <a href="https://twitter.com/picturepan2" target="_blank">Yan Zhu</a>. Licensed under the <a href="https://github.com/picturepan2/spectre/blob/master/LICENSE" target="_blank">MIT License</a>.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
