<div class="header-left">
    @*
        <div class="dropdown for-notification">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="count bg-danger">3</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="notification">
                <p class="red">You have 3 Notification</p>
                <a class="dropdown-item media" href="#">
                    <i class="fa fa-check"></i>
                    <p>Server #1 overloaded.</p>
                </a>
                <a class="dropdown-item media" href="#">
                    <i class="fa fa-info"></i>
                    <p>Server #2 overloaded.</p>
                </a>
                <a class="dropdown-item media" href="#">
                    <i class="fa fa-warning"></i>
                    <p>Server #3 overloaded.</p>
                </a>
            </div>
        </div>

        <div class="dropdown for-message">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope"></i>
                <span class="count bg-primary">4</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="message">
                <p class="red">You have 1 Mails</p>
                <!--
                <a class="dropdown-item media" href="#">
                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                    <div class="message media-body">
                        <span class="name float-left">Jonathan Smith</span>
                        <span class="time float-right">Just now</span>
                        <p>Hello, this is an example msg</p>
                    </div>
                </a>
                -->
            </div>
        </div>

    *@
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="user-area dropdown">
        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <i class="fa fa-user-circle"></i>
            <span class="user-name">아무고토몰라용진자몰라용</span>
            <!--
            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="">
            -->
        </a>

        <div class="user-menu dropdown-menu">
            <a class="nav-link" href="/user/myinfo"><i class="fa fa-user"></i>My Profile</a>
            <!--
            <a class="nav-link" href="#"><i class="fa fa-user"></i>Notifications <span class="count">13</span></a>
                                    -->
            <a class="nav-link" href="/user/settings"><i class="fa fa-cog"></i>Settings</a>

            <a class="nav-link" href="/login/logout"><i class="fa fa-power-off"></i>Logout</a>
        </div>
    </div>
}
else
{
    <div class="user-area">
        <a class="btn btn-secondary" href="/login">
            <i class="fa fa-user-circle"></i>
            <span class="user-name">로그인</span>
        </a>
    </div>
}
