@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/vue/vue.min.js"></script>

<div id="test">
    <button class="btn btn-sm btn-primary">테스트</button>
</div>

<script>
    $(".btn").click(function () {

    });
</script>
