<div class="accordion-container">
    
    <div class="accordion">
        <input id="accordion-qna" type="checkbox" name="spectre-accordion-checkbox" hidden="" checked="checked"  />
        <label class="accordion-header c-hand" for="accordion-qna">Questions</label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <!--
       <li class="menu-item"><a href="/home/write"></a></li>
    -->

                <li class="menu-item">
                    <a href="../getting-started/custom.html">전체 질문</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <input id="accordion-discussion" type="checkbox" name="spectre-accordion-checkbox" hidden="" checked="checked" />
        <label class="accordion-header c-hand" for="accordion-discussion">토론</label>
        <div class="accordion-body">
            <ul class="menu menu-nav">
                <li class="menu-item">
                    <a href="../elements/typography.html">토론</a>
                </li>
            </ul>
        </div>
    </div>
</div>