<h3 class="s-title">Buttons<a class="anchor" href="#buttons" aria-hidden="true">#</a></h3>
<p>Buttons include simple button styles for actions in different types and sizes.</p>

<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn">default button</button>
        <button class="btn btn-primary">primary button</button>
        <button class="btn btn-link">link button</button>
    </div>
</div>
<p>
    Add the <code>btn</code> class to &lt;a&gt;, &lt;input&gt; or &lt;button&gt; elements for a default button.
    There are classes <code>btn-primary</code> and <code>btn-link</code> for predefined primary and link buttons.
</p>
<pre class="code" data-lang="HTML"><code><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn"</span>&gt;</span>default button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary"</span>&gt;</span>primary button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-link"</span>&gt;</span>link button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<h4 class="s-subtitle" id="buttons-colors">Button colors<a class="anchor" href="#buttons-colors" aria-hidden="true">#</a></h4>
<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn btn-success">success button</button>
        <button class="btn btn-error">error button</button>
    </div>
</div>
<p>
    Add the <code>btn-success</code> or <code>btn-error</code> class for success (green) or error (red) button color.
    If you need more button colors, please use <a href="../getting-started/custom.html#variables-buttons">button mixins</a> to create your own button color variants.
</p>
<pre class="code" data-lang="HTML"><code><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-success"</span>&gt;</span>success button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-error"</span>&gt;</span>error button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<h4 class="s-subtitle" id="buttons-sizes">Button sizes<a class="anchor" href="#buttons-sizes" aria-hidden="true">#</a></h4>
<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn btn-primary btn-lg">large <i class="icon icon-arrow-down"></i></button>
        <button class="btn btn-primary btn-lg">large button</button>
    </div>
    <div class="column col-12">
        <button class="btn btn-primary">normal <i class="icon icon-arrow-down"></i></button>
        <button class="btn btn-primary">normal button</button>
    </div>
    <div class="column col-12">
        <button class="btn btn-primary btn-sm">small <i class="icon icon-arrow-down"></i></button>
        <button class="btn btn-primary btn-sm">small button</button>
    </div>
</div>
<p>
    Add the <code>btn-sm</code> or <code>btn-lg</code> class for small or large button size.
    Also, you can add the <code>btn-block</code> class for a full-width button.
</p>
<pre class="code" data-lang="HTML"><code><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-lg"</span>&gt;</span>large button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-sm"</span>&gt;</span>small button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-block"</span>&gt;</span>block button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary btn-lg"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon icon-arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span> large<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon icon-arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span> normal<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary btn-sm"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon icon-arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span> small<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<p>Please note that you could use the <code>btn-action</code> class for a square button, or add another <code>s-circle</code> class for a round button, which is often used as a Float Action Button (FAB).</p>
<div class="spectre-demo columns">
    <div class="column col-xs-12">
        <button class="btn btn-action btn-primary btn-lg"><i class="icon icon-menu"></i></button>
        <button class="btn btn-action btn-primary"><i class="icon icon-menu"></i></button>
        <button class="btn btn-action btn-primary btn-sm"><i class="icon icon-menu"></i></button>
    </div>
    <div class="column col-xs-12">
        <button class="btn btn-action btn-primary btn-lg s-circle"><i class="icon icon-arrow-up"></i></button>
        <button class="btn btn-action btn-primary s-circle"><i class="icon icon-arrow-up"></i></button>
        <button class="btn btn-action btn-primary btn-sm s-circle"><i class="icon icon-arrow-up"></i></button>
    </div>
</div>
<pre class="code" data-lang="HTML"><code><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-action"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon icon-arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-action s-circle"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon icon-arrow-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<h4 class="s-subtitle" id="buttons-states">Button states<a class="anchor" href="#buttons-states" aria-hidden="true">#</a></h4>
<p>Add the <code>active</code> class for active button state style.</p>
<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn active">default active</button>
        <button class="btn btn-primary active">primary active</button>
        <button class="btn btn-link active">link active</button>
    </div>
</div>
<p>Add the <code>disabled</code> class or the <code>disabled</code> attribute for disabled button state style.</p>
<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn disabled" tabindex="-1">default disabled</button>
        <button class="btn btn-primary" disabled="" tabindex="-1">primary disabled</button>
        <button class="btn btn-link" disabled="" tabindex="-1">link disabled</button>
    </div>
</div>
<pre class="code" data-lang="HTML"><code><span class="hljs-comment">&lt;!-- buttons with disabled state --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn disabled"</span> <span class="hljs-attr">tabindex</span>=<span class="hljs-string">"-1"</span>&gt;</span>disabled button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn"</span> <span class="hljs-attr">disabled</span> <span class="hljs-attr">tabindex</span>=<span class="hljs-string">"-1"</span>&gt;</span>disabled button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<p>A button with the <code>loading</code> class can show loading indicator.</p>
<div class="spectre-demo columns">
    <div class="column col-12">
        <button class="btn loading">default button</button>
        <button class="btn btn-primary loading">primary button</button>
        <button class="btn btn-link loading">link button</button>
    </div>
</div>
<pre class="code" data-lang="HTML"><code><span class="hljs-comment">&lt;!-- buttons with loading state --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn loading"</span>&gt;</span>button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary loading"</span>&gt;</span>primary button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<h4 class="s-subtitle" id="buttons-groups">Button groups<a class="anchor" href="#buttons-groups" aria-hidden="true">#</a></h4>
<div class="spectre-demo columns">
    <div class="column col-6 col-md-12">
        <div class="btn-group">
            <button class="btn">first button</button>
            <button class="btn">second button</button>
            <button class="btn">third button</button>
        </div>
    </div>
    <div class="column col-6 col-md-12">
        <div class="btn-group btn-group-block">
            <button class="btn btn-primary">first button</button>
            <button class="btn btn-primary">second button</button>
            <button class="btn btn-primary">third button</button>
        </div>
    </div>
    <div class="column col-6 col-md-12">
        <div class="btn-group">
            <button class="btn btn-sm active">first button</button>
            <button class="btn btn-sm">second button</button>
            <button class="btn btn-sm">third button</button>
        </div>
    </div>
    <div class="column col-6 col-md-12">
        <div class="btn-group btn-group-block">
            <button class="btn btn-primary btn-sm active">first button</button>
            <button class="btn btn-primary btn-sm">second button</button>
            <button class="btn btn-primary btn-sm">third button</button>
        </div>
    </div>
</div>
<p>
    If you want to use buttons as a group, add the <code>btn-group</code> class to the container.
    You can add the <code>btn-group-block</code> class for a full-width button group.
</p>
<pre class="code" data-lang="HTML"><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-group btn-group-block"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn"</span>&gt;</span>first button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn"</span>&gt;</span>second button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn"</span>&gt;</span>third button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span> 
</code></pre>