<div>
    <table class="table table-common">
        <tr>
            <td class="text-left">
                <button id="btn1" class="btn btn-sm btn-primary" style="margin-left:15px;">테스트</button>
                <button id="btn2" class="btn btn-sm btn-primary" style="margin-left:15px;">httpclient 테스트</button>
            </td>
        </tr>
    </table>
</div>

<pre id="pre1"></pre>

<script>
    $("#btn1").click(function () {
        $("#div1").html("<div class='alert alert-info'><i class='fa fa-spinner fa-spin'></i> 불러오는 중</div>");

        $.ajax({
            type: "POST",
            url: "/lab/GetFormContentTest",
            dataType: "json",
            data: {
                col1: "val1",
                col2: 1,
                colList: [{
                    sub1: "v1",
                    sub2: 11,
                    subList: [{
                        sub1: "sub1",
                        sub2: 111
                    }]
                },
                {
                    sub1: "v2",
                    sub2: 12
                }]
            },
            success: function (data, status, xhr) {
                $("#pre1").html(data.text1);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ajaxCommonError(xhr);
            }
        });
    });

    $("#btn2").click(function () {
        $("#div1").html("<div class='alert alert-info'><i class='fa fa-spinner fa-spin'></i> 불러오는 중</div>");

        $.ajax({
            type: "POST",
            url: "/lab/SendHttpFormContent",
            dataType: "json",
            data: {
            },
            success: function (data, status, xhr) {
                $("#pre1").html(data.text1);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ajaxCommonError(xhr);
            }
        });
    });
    
</script>




