<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" sizes="24x24" href="/favicon.ico">
<title>Portpolio</title>

@* Css 영역 *@
@if (Context.Connection.IsLocal())
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}
else
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
}
<link href="~/lib/ElaAdmin/css/helper.css" rel="stylesheet" />
<link href="~/lib/ElaAdmin/css/style.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

@* script 영역 *@
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
@if (Context.Connection.IsLocal())
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
else
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
}
<script src="~/lib/popper/popper.min.js"></script>
<script src="~/lib/slimscroll/jquery.slimscroll.js"></script>
<script src="~/lib/sticky-kit/sticky-kit.min.js"></script>

<script src="~/lib/ElaAdmin/js/sidebarmenu.js"></script>
<script src="~/lib/ElaAdmin/js/scripts.js"></script>

<script src="~/lib/vue/vue.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>