<div id="app1">
    <div>
        <button v-on:click="OnSearch" class="btn btn-sm btn-primary">조회</button>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <table class="table table-common table-hover">
                <colgroup>
                    <col style="width:200px" />
                    <col style="width:100px" />
                    <col style="width:100px" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Table Name</th>
                        <th>Engine</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr v-for="(item, index) in tableList"
                        v-bind:class="{ 'bg-primary text-bold text-white': item.isActive }">
                        <td>{{item.TABLE_NAME}}</td>
                        <td>{{item.ENGINE}}</td>
                        <td><button v-on:click="SelectTable(index)" class="btn btn-sm btn-primary">선택</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <table class="table table-common">
                <colgroup>
                    <col style="width:120px" />
                    <col style="width:100px" />
                    <col style="width:50px" />
                    <col style="width:150px" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Column Name</th>
                        <th>Column Type</th>
                        <th>Length</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr v-for="(item, index) in columnList"
                        v-bind:class="{ 'bg-primary text-bold text-white': item.isActive }">
                        <td>{{item.COLUMN_NAME}}</td>
                        <td>{{item.DATA_TYPE}}</td>
                        <td>{{item.CHARACTER_MAXIMUM_LENGTH}}</td>
                        <td>{{item.COLUMN_COMMENT}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary text-bold text-white">
                    Model Class
                </div>
                <div class="card-body">
                    <code>{{modelString}}</code>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-bold text-white">
                    Sql
                </div>
                <div class="card-body">
                    <code>{{sqlString}}</code>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app1 = new Vue({
        el: "#app1",
        data: {
            tableList: [],
            columnList: [],
            modelString: null,
            sqlString: null
        },
        methods: {
            Load: function () {
                var $this = this;
                $.ajax({
                    type: "GET",
                    url: "/Lab/GetDbInfo",
                    dataType: "json",
                    data: {},
                    success: function (data, status, xhr) {
                        $this.tableList = data;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        AjaxCommonError(xhr);
                    }
                });
            },
            OnSearch: function () {
                //Reload를 위한 Load 와의 분리
                this.Load();
            },
            SelectTable: function (index) {
                this.tableList.filter(function (item) { return item.isActive != undefined && item.isActive == true }).forEach(function (item) {
                    item.isActive = false;
                });

                this.tableList[index].isActive = true;

                let tableName = this.tableList[index].TABLE_NAME;
                let $this = this;
                $.ajax({
                    type: "GET",
                    url: "/Lab/GetDbInfo",
                    dataType: "json",
                    data: {
                        tableName: tableName
                    },
                    success: function (data, status, xhr) {
                        $this.columnList = data.list;
                        $this.modelString = data.modelString;
                        $this.sqlString = data.sqlString;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        AjaxCommonError(xhr);
                    }
                });
            }
        },
        mounted: function () {
            this.Load();
        }
    });
</script>
