<div>
    <table class="table table-common">
        <tr>
            <th>Download Url</th>
            <td>
                <input id="url" type="text" class="form-control" value="http://www.sc-eng.com/kr/images/img/main_slide01.jpg" />
            </td>
            <td class="text-left">
                <button id="btn1" class="btn btn-sm btn-primary" style="margin-left:15px;">서버로 다운로드</button>
            </td>
        </tr>
    </table>
</div>

<div id="div1"></div>

<script>
    $("#btn1").click(function () {
        var url = $("#url").val();

        $("#div1").html("<div class='alert alert-info'><i class='fa fa-spinner fa-spin'></i> 불러오는 중</div>");

        $.ajax({
            type: "GET",
            url: "/lab/GetWebFileDownload",
            dataType: "json",
            data: {
                url: url
            },
            success: function (data, status, xhr) {
                if (data.msg == "OK") {
                    $("#div1").html("완료: " + data.fileName);
                }
                else {
                    $("#div1").html(data.msg);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ajaxCommonError(xhr);
            }
        });
    });
</script>




